<div class="container text-center mt-5">
  <div class="container text-center py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="display-4 mb-4"><strong>Ricerca della città</strong></h1>
        <h2>Previsione del meteo in questo momento</h2>
        <div class="input-group mt-3">
          <input type="text" #newquery class="form-control" placeholder="Inserisci il nome della città">
          <div class="input-group-append">
            <button (click)="submit(newquery)" class="btn btn-dark btn-outline-light">Cerca</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="results" class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0">Meteo di {{ results.name }} ({{ results.sys.country }})</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="card-text h5"><strong>Condizioni meteo:</strong> {{ results.weather[0].description }}</p>
            <p class="card-text h5"><strong>Temperatura:</strong> {{ results.main.temp }} °C</p>
            <p class="card-text h5"><strong>Temperatura percepita:</strong> {{ results.main.feels_like }} °C</p>
            <p class="card-text h5"><strong>Temperatura minima:</strong> {{ results.main.temp_min }} °C</p>
            <p class="card-text h5"><strong>Temperatura massima:</strong> {{ results.main.temp_max }} °C</p>
            <p class="card-text h5"><strong>Umidità:</strong> {{ results.main.humidity }} %</p>
          </div>
          <div class="col-md-6">
            <p class="card-text h5"><strong>Visibilità:</strong> {{ results.visibility }} metri</p>
            <p class="card-text h5"><strong>Pioggia (ultima ora):</strong> {{ results.rain?.['1h'] || '0' }} mm</p>
            <p class="card-text h5"><strong>Nuvolosità:</strong> {{ results.clouds.all }}%</p>
            <p class="card-text h5"><strong>Velocità del vento:</strong> {{ results.wind.speed }} m/s</p>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <img [src]="getWeatherImage(results.weather[0].icon)" alt="Immagine consigliata" class="img-fluid w-25 mx-2">
          <img src="http://openweathermap.org/img/wn/{{ results.weather[0].icon }}@4x.png" alt="Icona meteo" class="img-fluid w-25 mx-2">
        </div>
        <p class="mt-3">{{ getDressAdvice(results.weather[0].icon) }}</p>
      </div>
    </div>
  </div>
</div>
