<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4">Benvenuto alla Pagina di Ricerca Meteo</h1>
        <p class="lead">Puoi consultare le previsioni meteorologiche dettagliate per la tua località o qualsiasi altra area desiderata inserendo il nome nella barra di ricerca e cliccando su "Meteo attuale" per ottenere gli aggiornamenti sul meteo.</p>
        <img src="https://image.3bmeteo.com/images/newarticles/w_1280/cronaca-meteo-italia-3bmeteo-155109.jpg" alt="Meteo" class="img-fluid mt-3">
      </div>
    </div>
  </div>
  
  
